@import '../../../styles/abstracts/';


@mixin pagination-button() {
    @include flex(center, center, null, null);
    background-color: $white;
    border-radius: 50%;
    border: 0.1rem solid $grey-500;
    margin: 0 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @include box(4rem, 4rem);

    &:hover {
        background-color: $grey-500;
    }
}

.pagination {
    @include flex(center, center, null, null);
    width: 100%;

    &__button {
        @include pagination-button();
        @include text(1.8rem, 400, $black, 2.4rem);

        &.disabled {
            display: none;
        }
    }

    &__list {
        @include flex(center, center, null, null);
    }

    &__item {
        @include pagination-button();
        @include text(1.8rem, 400, $black, 2.4rem);


        &.active {
            background-color: $blue-650;
            color: $white;
        }
    }
}