.green-bg {
      background-color: $green-600;
}

.blue-bg {
      background-color: $blue-650;
}

.yellow-bg {
      background-color: $yellow-500;
}

.purple-bg {
      background-color: $purple-400;
}

.black-bg {
      background-color: $black;
}

.pink-bg {
      background-color: $pink;
}

.red-bg {
      background-color: $red;
}